/dist
.DS_Store
/uploads
/node_modules
yarn-error.log

.idea
.env

coverage

!src/**

./tsconfig.tsbuildinfo
medusa-db.sql
build
.cache

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.medusa


# Terraform data
.terraform/

# Ignore Terraform state files
*.tfstate
*.tfstate.*

# Ignore crash logs
crash.log

# Ignore variable override files (often contain secrets)
*.tfvars
*.tfvars.json

# Ignore plan files
*.plan

# Ignore backup files
*.backup

# Ignore CLI config files
.terraformrc
terraform.rc
